body{
    background-color: #063c5e;
}
.container{
    background-color: #4d4d4d;
    width: 470px;
    margin: auto;
    box-shadow: 0px -5px 0px #017bab;
    box-shadow: 5px 10px 30px black;
}
h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 16pt;
    padding-top: 15px;
    color: white;
}
.form-container{
    margin: auto;
    padding-bottom: 25px;
    width: 85%;
    
}
form{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
input{
    margin-bottom: 20px;
    height: 25px;
    background-color: #252324;
    color: #82837f;
    padding: 5px;
    border: 2px solid #017bab;
}
button{
    margin-bottom: 10px;
    height: 40px;
    border-radius: 0;
    border: 0;
    background-color: #017bab;
    color: white;
}
a{
    text-align: center;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: white;
}
hr{
    margin-top: 20px;
    margin-bottom: 30px;
    height: 1px;
    background-color: white;
}